# Hide credentials <IMPORTANT!>
.env

# Ignore every file in static/, except robots.txt and index.html
static/*
!static/robots.txt
!static/index.html

# Hide output from "go build ./cmd/server-simple-imageboard", except the directory
server-simple-imageboard
!cmd/server-simple-imageboard/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Others
/Godeps/
